.no-padding {
  padding: 0 !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #232323;
  font-size: 16px;
  line-height: 1.25em;
}
a {
  color: white;
}
a:hover {
  color: #e62e04;
}
.site-search-box {
  width: 80%;
  margin-bottom: 10px;
  font-size: 13px;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  white-space: nowrap;
}
@media only screen and (min-device-width: 480px) {
  .site-search-box {
    width: 95%;
    margin-bottom: 0px;
  }
}
.site-search-box:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: 0;
}
.btn-site-search-box {
  background: #e62e04;
  color: white;
  margin-bottom: 10px;
}
@media only screen and (min-device-width: 480px) {
  .btn-site-search-box {
    width: 90%;
    margin-bottom: 0px;
  }
}
.btn-site-search-box:hover {
  background: #b92200;
}

.menu-bloc .button-main {
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  outline: 0;
}
.header-page {
  padding-top: 15px;
  background: #212121;
}
.header-page .logo {
  transition: 0.2s;
  margin-bottom: 10px;
}
.header-page .logo:hover {
  transform: scale(0.95) rotate(3deg);
}
.header-page .open-menu {
  max-height: fit-content;
}
.header-page .close-menu {
  max-height: 0px;
}
.header-page .button-main-menu {
  background-color: grey;
  position: absolute;
  width: 100%;
  top: 40px;
  min-height: 0px;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  overflow: hidden;
}
.header-page .button-main-menu ul {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-page .button-main-menu ul li {
  list-style: none;
  height: 40px;
  line-height: 40px;
}
.header-page .button-main-menu ul li a {
  color: black !important;
}
@media only screen and (min-width: 480px) {
  .header-page .logo {
    margin-bottom: 0px;
  }
}
